.o-priority-label{
    i{
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: inherit;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 10px;
    }
}